.Tarefa {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}
  
.Tarefa h2 {
    margin-bottom: 10px;
}
  
.Tarefa button {
    margin-left: 10px;
}

.Tarefa.concluida {
    background-color: #56ff2b; /* Verde claro para tarefas concluídas */
}
  